@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-family: theme('fontFamily.sans');
  background: theme('colors.cream');
  color: #2c2a26;
}
